{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Factions</title>
    <link rel="icon" type="image/x-icon" href="/populator/static/img/Dndfavicon.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="body">
    <h1 class="title">Demo Mode Factions</h1>
    <div class="topnav">
        <a  href="Dndpractice.html"> Home </a>
        <a class="active" href="Demo.html"> Demo </a>
        <a href="sign up.html"> Log in/sign up </a>
    </div><br>
    <div class="card-container">
        <div id="promptcard" class="aicard">
            <form method="post" action="{% url 'demo_factions' %}">
                {% csrf_token %}
            <fieldset>
                <Legend>Faction generator</Legend>
                <label for="aimode">AI mode</label><br>
                <label class="switch">
                    <input type="checkbox" checked>
                    <div class="slider"></div>
                    <div class="slider-card">
                        <div class="slider-card-face slider-card-front"></div>
                        <div class="slider-card-face slider-card-back"></div>
                    </div>
                </label><br>
                <label for="prompt">Prompt:</label><br>
                <textarea class="textarea" name="prompt" rows="8" cols="10"></textarea><br>
                <div class="button-container">
                    <button class="gbtn">
                                    <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                                        <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                                    </svg>
                                    <span class="text">Generate</span>
                                </button>
                                <br>
                            </div>
                        </fieldset>
                    </form>
                </div>
    <div id="faction1" class="aicard">
        <p class="top">Faction 1</p><br>
        <p class="main">Input your prompt for your factions</p><br>
        <input type="button" onclick="" value="Pick me!">
        <input type="button" onclick="" value="Generate">
        <!--/* java script stuff to make cards appear 
            after generation */-->
        </div>
        <div id="faction2" class="aicard">
            <p class="top">Faction 2</p><br>
            <p class="main">Generate again for more options!</p><br>
            <input type="button" onclick="" value="Pick me!">
            <input type="button" onclick="" value="Generate">
            <!--/* java script  */-->
        </div>
        <div id="faction3" class="aicard">
                <p class="top">Faction 3</p><br>
                <p class="main">Will you pick me?</p><br>
                <input type="button" onclick="" value="Pick me!">
                <input type="button" onclick="" value="Generate">
            <!--/* java script  */-->
        </div>
        <div id="faction4" class="aicard">
                <p class="top">Faction 4</p><br>
                <p class="main">or maybe me?</p><br>
                <input type="button" onclick="" value="Pick me!">
                <input type="button" onclick="" value="Generate">
            <!--/* java script  */-->
        </div>
        <div id="faction5" class="aicard">
                <p class="top">Faction 5</p><br>
                <p class="main">Im not your only option!</p><br>
                <input type="button" onclick="" value="Pick me!">
                <input type="button" onclick="" value="Generate">
            <!--/* java script  */-->
        </div>
    </div>
    <fieldset>
        <legend>Added all the factions you want? Press the button below to move on to characters</legend>

    </fieldset>
    <script src="{% static 'js/demo.js' %}"></script>
</body>
</html>