/* styles.css */
@font-face{
    font-family: 'Pirata One';
    src: url('../fonts/PirataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'uncial-antiqua';
    src: url('../fonts/UncialAntiqua-Regular.ttf') format('truetype');
}
body {
    font-family: Arial, sans-serif;
    background-color: #8a320a3b;
    padding: 50px;
}
.title{
    background-color: rgb(187, 66, 66);
    font-family: 'Pirata One', serif;
    color: black;
    text-align: center;
    border: 4px solid black;
}
.topnav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    background-color: rgb(187, 66, 66);
    font-family: 'uncial-antiqua', serif;
    color: black;
    text-align: center;
    border: 4px solid black;
    width: 100%;
    margin: 0;
    padding: 0;
}
.topnav a {
    flex: 1; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black; 
}
.topnav a:hover{
    background-color: rgb(130, 0, 0);
    color: grey;
}
.topnav a.active{
    flex: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
.row {
    display: flex;
    justify-content: center;
    width: 100%;
}
.column {
    background-color: rgb(110, 66, 64);
    color: black;
    font-size: larger;
    border: 2px solid black;
    margin: 10px; 
    padding: 10px;
    width: 33.33%; 
    box-sizing: border-box;
}
div.form{
    display: block;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: auto; 
    background-color: rgb(187, 66, 66);
    border: 4px solid black;
    width: 70%;
    padding: 20px; 
}
.container {
    background-color: #6d3600b3;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}
.section {
    margin-bottom: 30px;
}
.input-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 100%;
    padding: 3px;
    background-color: #864242;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-button, .submit-button {
    padding: 10px 20px;
    background-color: rgb(150, 96, 43);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em;
}
.add-button:hover, .submit-button {
    background-color: rgba(139, 67, 0, 0.888);
}
.slideable {
    transition: transform 0.3s ease;
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin: 10px;
}
.input-group-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 2px;
    padding-bottom: 4px;
    width: 50%;
}
input[type=text],
input[type=email],
input[type=password]{
    width: 50%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
}
.input:focus{
    background-color: rgb(232, 169, 166);
}
input[type=button], 
input[type=submit], 
input[type=reset]{
    background-color: rgb(110, 66, 64);
    border: none;
    color: black;
    padding: 10px 18px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=number]{
    width: 50px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle; 
}
select#location{
    width: 100%;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px; 
    box-sizing: border-box;
}
legend {
    font-family: 'uncial-antiqua', serif;
    font-size: 24px; 
    color: black; 
}
.label {
    margin-right: 10px;
    display: inline-block; 
    vertical-align: middle; 
}
.switch {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
}
.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
}
.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
}
.slider-card-front {
    background-color: #DC3535;
}
.slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
}
input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}
input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
}
input:checked ~ .slider-card {
    transform: translateX(1.5em);
}
input:checked ~ .slider {
    background-color: #9ed99c;
}
.card-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
}
.aicard{
    background-color: rgb(187, 66, 66);
    color: black;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
p.top{
    font-family: 'uncial-antiqua', serif;
    font-size: 24px; 
    color: black; 
}
p.main{
    font-size: medium;
    color: black;
}
.Add {
    position: relative;
    margin: auto;
    width: 110px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    border: 1px solid #860e0e;
    background-color: #550000;
}
.Add, .button__icon, .button__text {
    transition: all 0.3s;
}
.Add .button__text {
    transform: translateX(5px);
    color: #fff;
    font-weight: 600;
}
.Add .button__icon {
    position: absolute;
    transform: translateX(88px);
    height: 100%;
    width: 39px;
    background-color: #860e0e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add .svg {
    width: 30px;
    stroke: #fff;
}
.Add:hover {
    background: #860e0e;
}
.Add:hover .button__text {
    color: transparent;
}
.Add:hover .button__icon {
    width: 128px;
    transform: translateX(0);
}
.Add:active .button__icon {
    background-color: #550000;
}
.Add:active {
    border: 1px solid #550000;
}
.remove {
    position: relative;
    width: 110px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: center;
    background: #550000;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #550000;
    margin: auto;
}
.remove, .remove span {
    transition: 200ms;
}
.remove .remove_text {
    transform: translateX(5px);
    color: white;
    font-weight: bold;
}
.remove .remove_icon {
    position: absolute;
    border-left: 1px solid #860e0e;
    transform: translateX(88px);
    height: 40px;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #860e0e;
}
.remove svg {
    width: 15px;
    fill: #000000;
}
.remove:hover {
    background: #860e0e;
}
.remove:hover .remove_text {
    color: transparent;
}
.remove:hover .remove_icon {
    width: 110px;
    border-left: none;
    transform: translateX(0);
}
.remove:focus {
    outline: none;
}
.remove:active .remove_icon svg {
    transform: scale(0.8);
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    --color-text: #ffffff;
    --color-background: #860e0e;
    --color-outline: #550000;
    --color-shadow: #00000080;
}
.btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    background: #860e0e;
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 #860e0e;
    justify-content: center;
}
.btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 #860e0e;
}
.btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}
.btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}
.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}
  /* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}
#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}
.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}
.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  /* SVG animations */
@keyframes color_anim {
    0% {
    fill: white;
    }
    50% {
    fill: var(--color-background);
    }
    100% {
    fill: white;
    }
}
  /* Button animations */
@-webkit-keyframes btn-content {
    0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
    }
}
@keyframes btn-content {
    0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
    }
}
.gbtn {
    border: none;
    width: 12em;
    height: 4em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #550000;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}
.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}
.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}
.gbtn:hover {
    background: linear-gradient(0deg,#864242,#880000);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #790000;
    transform: translateY(-2px);
}
.gbtn:hover .text {
    color: white;
}
.gbtn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
    .card-container {
    grid-template-columns: 1fr;
    }
}