/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #8a320a3b;
    padding: 50px;
}

.container {
    background-color: #6d3600b3;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}

.section {
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button, .submit-button {
    padding: 10px 20px;
    background-color: rgb(150, 96, 43);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em;
}

.add-button:hover, .submit-button {
    background-color: rgba(139, 67, 0, 0.888);
}

.slideable {
    transition: transform 0.3s ease;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin: 10px;
}

